$image: url("../../assets/page_not_found.svg");
.container-height {
  min-height: auto;
}
.responsive {
  // width: 100%;
  // height: auto;
  // background: $image;
  width: 100%;
  height: 80vh;
  background-image: $image;
  background-repeat: no-repeat;
  background-size: contain;

  color: #729292;

  display: flex;
  justify-content: center;
  align-items: center;
}
