/* After Cart */
.after-cart {
  display: flex;
  // position: relative;
  align-items: center;
}

.cart-count {
  margin: 0 3rem;
  // color: whitesmoke;
  font-size: 1.6rem;
}

.cart-counter-button {
  font-size: 1.8rem;
  color: whitesmoke;
  background-color: #2a272a;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 0.45rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-counter-button:hover {
  background-color: #4b4a54;
}
/* Before Cart */

.add-cart-button {
  color: whitesmoke;
  background-color: #2a272a;
  margin: 1rem 0;
  padding: 1rem 3.2rem;
  border: none;
  border-radius: 0.2rem;
}
.add-cart-button:hover {
  background-color: #4b4a54;
}

button {
  cursor: pointer;
}
